<template>
  <div class="container col-xl-7">
    <div class="row my-2">
      <!-- if coach exists, show coach details. -->
      <div class="pt-5" v-if="isLoading">
        <base-spinner></base-spinner>
      </div>
      <div class="col" v-else-if="!isLoading && selectedCoach">
        <h3>{{ fullName }}</h3>
        <h5 class="text-secondary">{{ hourlyRate }}€/hour</h5>
        <div class="my-4">
          <h6>Areas of expertise:</h6>
          <base-badge
            v-for="(area, index) in areas"
            :key="index"
            :type="area"
            mode="me-2"
            :title="area"
          >
          </base-badge>
        </div>
        <div>
          <p>{{ description }}</p>
        </div>
        <div class="actions my-5 d-flex justify-content-end">
          <base-link to="/coaches" mode="btn btn-light me-3">Go Back</base-link>
          <base-link :to="contactLink" mode="btn btn-primary"
            >Contact Coach</base-link
          >
        </div>
        <router-view></router-view>
      </div>
      <!-- if not, inform user that the coach does not exists. -->
      <div class="col" v-else>
        <p>The coach you were looking for does not exist!</p>
        <base-link to="/" mode="btn btn-light">Go Back</base-link>
      </div>
    </div>

    <!-- Modal message in case an error occurs -->
    <base-modal
      title="An error occured!"
      :isVisible="!!error"
      @close-modal="resetError"
      >{{ error }}</base-modal
    >
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      coachID: Number(this.$route.params.id), // get coach id from route params.
      isLoading: false,
      error: null,
    };
  },

  computed: {
    ...mapGetters("coaches", ["getSelectedCoach"]),

    // get selected coach.
    selectedCoach() {
      return this.getSelectedCoach;
    },

    // get coach full name.
    fullName() {
      return this.selectedCoach.firstName + " " + this.selectedCoach.lastName;
    },

    // get coach areas of expertise.
    areas() {
      return this.selectedCoach.areas;
    },

    // get coach description.
    description() {
      return this.selectedCoach.description;
    },

    // get coach hourly rate (EUR).
    hourlyRate() {
      return this.selectedCoach.hourlyRate;
    },

    // lin to contact coach.
    contactLink() {
      return "/coaches/" + this.coachID + "/contact";
    },
  },

  methods: {
    async loadSelectedCoach() {
      this.isLoading = true;

      try {
        await this.$store.dispatch("coaches/loadSelectedCoach", {
          id: this.coachID,
        });
      } catch (error) {
        this.error = error.message || "Something went wrong!";
        return;
      }

      this.isLoading = false;
    },

    // reset error after closing modal.
    resetError() {
      this.error = null;
    },
  },

  created() {
    this.loadSelectedCoach(); // after created load selected coach.
  },
};
</script>