<template>
<!-- COACHES PAGE -->
  <div class="container col-xl-7">
    <div class="row mb-5 mt-2">
      <h3>Find your coach</h3>
      <div class="col">
        <coaches-filter @change-filters="setFilters"></coaches-filter>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <div class="row">
          <h3>List of coaches</h3>
          <div class="col mt-3">
            <!-- force update list of coaches. -->
            <base-button
              mode="btn btn-light me-3"
              @click.native="loadCoaches(true)"
              >Refresh</base-button
            >
            <!-- register as a coach button. If current user exists as coach, disable button. -->
            <base-link
              to="/register"
              :mode="'btn btn-success ' + (isCoach ? 'disabled' : '')"
              v-if="!isLoading"
              >Register as Coach</base-link
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="pt-5" v-if="isLoading">
              <base-spinner></base-spinner>
            </div>
            <div v-else-if="!isLoading && hasCoaches">
              <coach-item
                v-for="coach in activeCoaches"
                :key="coach.id"
                :id="coach.id"
                :first-name="coach.firstName"
                :last-name="coach.lastName"
                :areas="coach.areas"
                :description="coach.description"
                :hourlyRate="coach.hourlyRate"
              ></coach-item>
            </div>
            <p v-else class="mt-4">No coaches found.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal message in case an error occurs -->
    <base-modal
      title="An error occured!"
      :isVisible="!!error"
      @close-modal="resetError"
      >{{ error }}</base-modal
    >
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CoachesFilter from "@/components/coaches/CoachesFilter.vue";
import CoachItem from "@/components/coaches/CoachItem.vue";

export default {
  components: {
    CoachItem,
    CoachesFilter,
  },
  data() {
    return {
      isLoading: false,
      error: null,
      activeFilters: {
        frontend: true,
        backend: true,
        career: true,
      },
    };
  },
  computed: {
    ...mapGetters("coaches", ["allCoaches", "hasCoaches", "isCoach"]),

    // filter coaches based on the areas of expertise.
    activeCoaches() {
      return this.allCoaches.filter((coach) => {
        // show coach if frontend checkbox is checked and the iterated coach has frontend as area of expertise.
        if (this.activeFilters.frontend && coach.areas.includes("frontend")) {
          return true;
        }
        // show coach if backend checkbox is checked and the iterated coach has backend as area of expertise.
        if (this.activeFilters.backend && coach.areas.includes("backend")) {
          return true;
        }
        // show coach if career checkbox is checked and the iterated coach has career as area of expertise.
        if (this.activeFilters.career && coach.areas.includes("career")) {
          return true;
        }
        // if none of above, don't show coach.
        return false;
      });
    },
  },

  methods: {
    // update filters after one of the checkboxes change.
    setFilters(updatedFilters) {
      this.activeFilters = updatedFilters;
    },

    async loadCoaches(refresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch("coaches/loadCoaches", {
          forceRefresh: refresh,
        });
      } catch (error) {
        this.error = error.message || "Something went wrong!";
        return;
      }
      this.isLoading = false;
    },

    // reset error after closing modal.
    resetError() {
      this.error = null;
    },
  },

  // load all coaches after component is created.
  created() {
    this.loadCoaches();
  },
};
</script>