<template>
  <div class="container col-xl-7">
    <div class="row my-2">
      <div class="col">
        <h3>Register as a coach now!</h3>
        <div class="pt-5" v-if="isLoading">
          <base-spinner></base-spinner>
        </div>
        <coach-form v-else @save-data="saveData"></coach-form>
      </div>
    </div>
    <!-- Modal message in case an error occurs -->
    <base-modal
      title="An error occured!"
      :isVisible="!!error"
      @close-modal="resetError"
      >{{ error }}</base-modal
    >
  </div>
</template>

<script>
import CoachForm from "@/components/coaches/CoachForm.vue";
export default {
  components: {
    CoachForm,
  },
  data() {
    return {
      isLoading: false,
      error: null,
    };
  },
  methods: {
    async saveData(data) {
      this.isLoading = true;
      try {
        await this.$store.dispatch("coaches/addCoach", data);
      } catch (error) {
        this.error = error.message || "Something went wrong!";
        return;
      }
      this.isLoading = false;
      this.$router.replace("/coaches"); // goes to coaches page. Used replace instead of push so user can not go back after redirect.
    },

    // reset error after closing modal.
    resetError() {
      this.error = null;
    },
  },
};
</script>