<template>
<!-- APP HEADER COMPONENT -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <base-link to="/" mode="navbar-brand"
        ><img
          src="@/assets/logo.png"
          alt="Logo"
          width="30"
          height="30"
          class="d-inline-block align-top me-2"
        />Find a Coach</base-link
      >
      <base-button
        mode="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </base-button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <base-link to="/coaches" active-class="active" mode="nav-link" aria-current="page"
              >All Coaches</base-link
            >
          </li>
          <li class="nav-item">
            <base-link to="/requests" active-class="active" mode="nav-link">Requests</base-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>