<template>
  <!-- NOT FOUND PAGE -->
  <div class="container col-xl-7">
    <div class="row my-4 d-flex justify-content-start">
      <h3>Oops!</h3>
      <p class="my-2">This page could not be found. Go to <base-link to="/">homepage</base-link>?</p>
    </div>
  </div>
</template>