<template>
  <div class="card my-4">
    <div class="card-body">
      <div class="mb-4">
        <h6>ID</h6>
        <p class="card-text">{{ id }}</p>
      </div>
      <div class="mb-4">
        <h6>From</h6>
        <a :href="emailLink" class="card-title">{{ email }}</a>
      </div>
      <div>
        <h6>Message</h6>
        <p class="card-text">{{ textMessage }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    email: String,
    textMessage: String,
  },
  computed: {
    emailLink() {
      return "mailto:" + this.email; // link to email directly the request sender.
    },
  },
};
</script>