<template>
  <div class="row my-2">
    <div class="col">
      <h3>Contact Coach</h3>
      <div v-if="isLoading" class="pt-5">
        <base-spinner></base-spinner>
      </div>
      <form v-else @submit.prevent="submitMessage">
        <div
          class="form-group my-3"
          :class="{ 'form-group--error': $v.enteredEmail.$error }"
        >
          <label for="enteredEmail">Email address*</label>
          <input
            type="text"
            class="form-control mt-1"
            id="enteredEmail"
            placeholder="name@example.com"
            v-model.trim="$v.enteredEmail.$model"
          />

          <!-- shows in case validation fail. -->
          <div
            class="error text-danger"
            v-if="!$v.enteredEmail.required && $v.enteredEmail.$dirty"
          >
            Field is required
          </div>
          <div
            class="error text-danger"
            v-else-if="!$v.enteredEmail.email && $v.enteredEmail.$dirty"
          >
            Please enter a valid email address
          </div>
        </div>
        <div
          class="form-group my-3"
          :class="{ 'form-group--error': $v.enteredMessage.$error }"
        >
          <label for="enteredMessage">Text message*</label>
          <textarea
            class="form-control mt-1"
            id="enteredMessage"
            rows="5"
            placeholder="Write your message here..."
            v-model.trim="$v.enteredMessage.$model"
          ></textarea>

          <!-- shows in case validation fail. -->
          <div
            class="error text-danger"
            v-if="!$v.enteredMessage.required && $v.enteredMessage.$dirty"
          >
            Field is required
          </div>
        </div>
        <div class="actions my-5 d-flex justify-content-end">
          <base-button type="submit" class="btn btn-success"
            >Submit</base-button
          >
        </div>
      </form>
    </div>
    <!-- Modal message in case an error occurs -->
    <base-modal
      title="An error occured!"
      :isVisible="!!error"
      @close-modal="resetError"
      >{{ error }}</base-modal
    >
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { required, email } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      enteredEmail: "",
      enteredMessage: "",
      isLoading: false,
      error: null,
    };
  },
  validations: {
    enteredEmail: {
      required,
      email,
    },
    enteredMessage: {
      required,
    },
  },
  methods: {
    ...mapActions("requests", ["addRequest"]),

    async submitMessage() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        try {
          this.isLoading = true;

          const data = {
            coachID: this.$route.params.id,
            email: this.enteredEmail,
            message: this.enteredMessage,
          };

          await this.addRequest(data);
        } catch (error) {
          this.error = error.message || "Something went wrong!";
          return;
        }

        this.isLoading = false;
        this.$router.replace("/coaches"); // goes to coaches page. Used replace instead of push so user can not go back after redirect.
      }
    },

    // reset error after closing modal.
    resetError() {
      this.error = null;
    },
  },
};
</script>