<template>
<!-- REQUESTS PAGE -->
  <div class="container col-xl-7">
    <div class="row my-2">
      <div class="col">
        <h3 class="mb-3">Requests recieved</h3>

        <!-- inform user about the way requests work. -->
        <div class="alert alert-warning" role="alert">
          You can only recieve requests from users that contacted you as a
          coach!
        </div>
        <div class="pt-5" v-if="isLoading">
          <base-spinner></base-spinner>
        </div>

        <!-- if current coach as any requests, show them. -->
        <div v-else-if="!isLoading && hasRequests">
          <request-item
            v-for="request in coachRequests"
            :key="request.id"
            :id="request.id"
            :email="request.email"
            :textMessage="request.message"
          ></request-item>
        </div>

        <!-- if not, inform user. -->
        <div v-else>
          <p class="mt-4">
            <strong>No requests found!</strong> If you haven't registered yet,
            start by clicking the register button on homepage.
          </p>
        </div>
      </div>
    </div>

    <!-- Modal message in case an error occurs -->
    <base-modal
      title="An error occured!"
      :isVisible="!!error"
      @close-modal="resetError"
      >{{ error }}</base-modal
    >
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import RequestItem from "@/components/requests/RequestItem.vue";

export default {
  components: {
    RequestItem,
  },
  data() {
    return {
      isLoading: false,
      error: null,
    };
  },
  computed: {
    ...mapGetters("requests", ["coachRequests", "hasRequests"]),
  },
  methods: {
    async loadRequests() {
      this.isLoading = true;
      try {
        await this.$store.dispatch("requests/loadRequests");
      } catch (error) {
        this.error = error.message || "Failed to load requests!";
        return;
      }

      this.isLoading = false;
    },

    // reset error after closing modal.
    resetError() {
      this.error = null;
    },
  },

  // load all request of the current coach after component is created.
  created() {
    this.loadRequests();
  },
};
</script>