<template>
  <div class="coaches-filter mt-2">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="frontend"
        value="frontend"
        checked
        @change="setFilter"
      />
      <label class="form-check-label" for="frontend">Frontend</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="backend"
        value="backend"
        checked
        @change="setFilter"
      />
      <label class="form-check-label" for="backend">Backend</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="career"
        value="career"
        checked
        @change="setFilter"
      />
      <label class="form-check-label" for="career">Career</label>
    </div>
  </div>
</template>

<script>
export default {
  emits: ["change-filters"],
  data() {
    return {
      filters: {
        frontend: true,
        backend: true,
        career: true,
      },
    };
  },
  methods: {
    setFilter(event) {
      const filterName = event.target.id; // frontend, backend or career.
      const isActive = event.target.checked; // see if it's checked.

      var updatedFilters = { ...this.filters, [filterName]: isActive }; // create temporary object with the updated checkboxes.

      this.filters = updatedFilters; // update the filters with the temporary object.
      this.$emit("change-filters", updatedFilters); // send the updated filters to parent component.
    },
  },
};
</script>