<template>
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">{{ fullName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ hourlyRate }}€/hour</h6>
      <div class="card-text mb-2">
        <base-badge
          mode="me-2"
          v-for="(area, index) in areas"
          :key="index"
          :type="area"
          :title="area"
        ></base-badge>
      </div>
      <p class="card-text">{{ description }}</p>
      <div class="actions d-flex justify-content-end">
        <base-link :to="coachContactLink" mode="card-link btn btn-primary"
          >Contact</base-link
        >
        <base-link :to="coachDetailsLink" mode="card-link btn btn-primary"
          >View Details</base-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    firstName: String,
    lastName: String,
    areas: Array,
    description: String,
    hourlyRate: Number,
  },
  computed: {
    fullName() {
      return this.firstName + " " + this.lastName;
    },
    
    coachContactLink(){
      return this.$route.path + '/' + this.id + '/contact' // link for contacting current coach.
    },
    
    coachDetailsLink(){
      return this.$route.path + '/' + this.id; // link to show details for current coach.
    },

  },
};
</script>