<template>
  <form class="my-3" @submit.prevent="submitData">
    <div
      class="form-group my-3"
      :class="{ 'form-group--error': $v.enteredFirstName.$error }"
    >
      <label for="firstname">First Name*</label>
      <input
        type="text"
        class="form-control mt-1"
        id="firstname"
        placeholder="Enter first name"
        v-model.trim="$v.enteredFirstName.$model"
      />

      <!-- shows in case validation fail. -->
      <div
        class="error text-danger"
        v-if="!$v.enteredFirstName.required && $v.enteredFirstName.$dirty"
      >
        Field is required
      </div>
    </div>

    <div
      class="form-group my-3"
      :class="{ 'form-group--error': $v.enteredLastName.$error }"
    >
      <label for="lastname">Last Name*</label>
      <input
        type="text"
        class="form-control mt-1"
        id="lastname"
        placeholder="Enter last name"
        v-model.trim="$v.enteredLastName.$model"
      />

      <!-- shows in case validation fail. -->
      <div
        class="error text-danger"
        v-if="!$v.enteredLastName.required && $v.enteredLastName.$dirty"
      >
        Field is required
      </div>
    </div>

    <div
      class="form-group my-3"
      :class="{ 'form-group--error': $v.enteredDescription.$error }"
    >
      <label for="description">Description*</label>
      <textarea
        class="form-control mt-1"
        id="description"
        rows="5"
        placeholder="Write something about yourself..."
        v-model.trim="$v.enteredDescription.$model"
      ></textarea>

      <!-- shows in case validation fail. -->
      <div
        class="error text-danger"
        v-if="!$v.enteredDescription.required && $v.enteredDescription.$dirty"
      >
        Field is required
      </div>
    </div>

    <div class="my-3" :class="{ 'form-group--error': $v.enteredAreas.$error }">
      <label>Areas of expertise*</label>
      <div class="form-check mt-1">
        <input
          class="form-check-input"
          type="checkbox"
          value="frontend"
          id="frontend"
          v-model="$v.enteredAreas.$model"
        />
        <label class="form-check-label" for="frontend">Frontend</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="backend"
          id="backend"
          v-model="$v.enteredAreas.$model"
        />
        <label class="form-check-label" for="backend">Backend</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="career"
          id="career"
          v-model="$v.enteredAreas.$model"
        />
        <label class="form-check-label" for="career">Career</label>
      </div>

      <!-- shows in case validation fail. -->
      <div
        class="error text-danger"
        v-if="!$v.enteredAreas.required && $v.enteredAreas.$dirty"
      >
        Please select at least one
      </div>
    </div>

    <div
      class="form-group my-3"
      :class="{ 'form-group--error': $v.enteredHourlyRate.$error }"
    >
      <label for="hourly-rate">Hourly Rate (EUR)*</label>
      <input
        type="number"
        class="form-control mt-1"
        id="hourly-rate"
        placeholder="Your hourly rate"
        v-model.number="$v.enteredHourlyRate.$model"
      />

      <!-- shows in case validation fail. -->
      <div
        class="error text-danger"
        v-if="!$v.enteredHourlyRate.required && $v.enteredHourlyRate.$dirty"
      >
        Field is required
      </div>
      <div
        class="error text-danger"
        v-if="!$v.enteredHourlyRate.minValue && $v.enteredHourlyRate.$dirty"
      >
        Rate must be grater than zero
      </div>
      <div
        class="error text-danger"
        v-if="!$v.enteredHourlyRate.integer && $v.enteredHourlyRate.$dirty"
      >
        Rate must be a positive integer number
      </div>
    </div>
    <div class="actions my-5 d-flex justify-content-end">
      <base-link to="/coaches" class="btn btn-light me-3">Go Back</base-link>
      <base-button type="submit" class="btn btn-success">Submit</base-button>
    </div>
  </form>
</template>

<script>
import { required, minValue, integer } from "vuelidate/lib/validators";

export default {
  emits: ["save-data"],
  data() {
    return {
      enteredFirstName: "",
      enteredLastName: "",
      enteredDescription: "",
      enteredAreas: [],
      enteredHourlyRate: null,
    };
  },
  validations: {
    enteredFirstName: {
      required,
    },
    enteredLastName: {
      required,
    },
    enteredDescription: {
      required,
    },
    enteredAreas: {
      required,
    },
    enteredHourlyRate: {
      required,
      minValue: minValue(1),
      integer,
    },
  },
  methods: {
    submitData() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        const data = {
          firstName: this.enteredFirstName,
          lastName: this.enteredLastName,
          description: this.enteredDescription,
          areas: this.enteredAreas,
          hourlyRate: this.enteredHourlyRate,
        };

        this.$emit("save-data", data); // send data to the parent component.
      }
    },
  },
};
</script>