<template>
  <!-- GLOBAL COMPONENT -->
  <div>
    <transition name="dialog">
      <div class="modal show" v-if="isVisible" id="baseModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="baseModal">{{ title }}</h5>
              <button
                type="button"
                class="btn-close"
                @click="$emit('close-modal')"
              ></button>
            </div>
            <div class="modal-body">
              <slot></slot>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                @click="$emit('close-modal')"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <div v-if="isVisible" class="modal-backdrop show"></div>
  </div>
</template>

<script>
export default {
  emits: ["close-modal"],
  props: {
    title: String,
    isVisible: Boolean,
  },
};
</script>

<style lang="scss" scoped>
.modal {
  display: block;
}

.dialog-leave-to {
  opacity: 0;
}

.dialog-leave-from {
  opacity: 1;
}

.dialog-leave-active {
  transition: all 0.3s linear;
}
</style>