<template>
<!-- GLOBAL COMPONENT -->
  <span :class="fullClass">
    {{ text }}
  </span>
</template>

<script>
export default {
  props: {
    mode: String,
    type: String,
    title: String,
  },
  computed: {
    fullClass() {
      return "badge " + this.mode + " " + this.type;
    },
    text() {
      return this.title.toUpperCase();
    },
  },
};
</script>

<style lang="scss" scoped>
.badge {
  color: white;
  background-color: orange;

  // &.frontend {
  //   background-color: brown;
  // }

  // &.backend {
  //   background-color: orange;
  // }

  // &.career {
  //   background-color: purple;
  // }
}
</style>