<template>
<!-- GLOBAL COMPONENT -->
    <router-link :to="to" :class="mode" :active-class="activeClass">
        <slot></slot>
    </router-link>
</template>

<script>
export default {
    props: {
        to: String,
        mode: String,
        activeClass: String
    }
}
</script>